In [1]:
import pandas as pd

In [ ]:
# university student dataframe [Data, Finance, BM]
uni_df = pd.read_csv("/Users/jacobemerson/Code/Python/data_analysis_report/data/uni_students.csv", sep=";", index_col = "Student_ID")

In [19]:
uni_df.head(5)

,First_Name,Last_Name,Class,Term,Math,English,Science,History,Attendance,Score,Passed,Incoming_Student,Cohort
Student_ID,,,,,,,,,,,,,
1079,Emma,White,11A,2,62.0,79.0,75.0,43.0,79.9,66.0,1,1,25-26
1115,Alice,Martin,10A,2,62.0,55.0,67.0,81.0,88.0,61.0,1,0,26-27
1172,Daniel,White,12A,1,99.0,79.0,81.0,79.0,85.9,80.0,1,0,27-28
1053,Benjamin,Morgan,11B,1,60.0,37.0,88.0,78.0,77.5,68.0,1,0,25-26
1131,Noah,Lee,11B,1,85.0,99.0,72.0,84.0,93.8,94.0,1,1,25-26

In [ ]:
# data cohort dataframe
data_df = uni_df.loc[1079:1141]

In [ ]:
# finance cohort datafram
fin_df = uni_df.loc[2079:2141]

In [ ]:
# business management cohort dataframe
bm_df = uni_df.loc[2079:2141]